
@{
    ViewData["Title"] = "AccessBlocked";
}

<div class="container">

    <h1 style="text-align:center">Access Blocked</h1>
    <hr />
    <div>
        <center>
            <img src="~/images/accessBlocked.png" class="centerAccessBlocked" height="700" />
        </center>
    </div>
</div>
