@model CarInsurance.DataAccessV3.ViewModels.Broker.PolicyController.LimitAndQuestionViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-area="broker" asp-controller="policy" asp-action="create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Limit.Name"></label>
                <input asp-for="Limit.Name" class="form-control" />
                <span asp-validation-for="Limit.Name" class="text-danger"></span>
            </div>



            <button type="submit" class="btn btn-primary">CreateButton</button>

        </form>

        <br />

        <form method="post" asp-area="broker" asp-controller="policy" asp-action="addlimit">
            <div class="form-group">
                <label asp-for="Limit.LimitValues"></label>
                <input asp-for="Limit.LimitValues" class="form-control" />
                <span asp-validation-for="Limit.LimitValues" class="text-danger"></span>

                <button type="submit" class="btn btn-primary">AddLimit</button>

            </div>
        </form>

    </div>


    @*use service to retrieve the list of values for limits from db*@ 
    @*<div class="col-md-6">
        <div class="form-group">
            <ul class="list-group">
                @if (Model.Limit.LimitValues != null)
                {
                    @for (int i = 0; i < Model.Limit.LimitValues.Count; i++)
                    {
                        string idName = Model.Limit.Name + $"_{i}";
                        <li class="list-group-item" id="@idName">@Model.Limit.LimitValues.ElementAt(i)</li>
                    }
                }

            </ul>
        </div>

    </div>*@


</div>
