@model CarInsurance.DataAccessV3.DbModels.Car
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">

        <form method="post" asp-area="broker" asp-controller="policy" asp-action="editcar">
            <input type="hidden" name="carid" value="@Model.CarId" />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Edit this Car</button>

        </form>

    </div>

    <br />

    @*use service to retrieve the list of values for cars from db*@
    @*<div class="col-md-6">
            <div class="form-group">
                <ul class="list-group">
                    @if (Model.Limit.LimitValues != null)
                    {
                        @for (int i = 0; i < Model.Limit.LimitValues.Count; i++)
                        {
                            string idName = Model.Limit.Name + $"_{i}";
                            <li class="list-group-item" id="@idName">@Model.Limit.LimitValues.ElementAt(i)</li>
                        }
                    }

                </ul>
            </div>

        </div>*@


</div>
