@model CarInsurance.DataAccessV3.DbModels.Car
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="btn btn-outline-success" asp-area="broker" asp-controller="policy" asp-action="listcars">Edit your list of Cars</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-outline-success" asp-area="broker" asp-controller="policy" asp-action="listcars">Add more Cars</a>
            </li>
        </ul>


    </div>

    <br />

    @*use service to retrieve the list of values for cars from db*@
    @*<div class="col-md-6">
            <div class="form-group">
                <ul class="list-group">
                    @if (Model.Limit.LimitValues != null)
                    {
                        @for (int i = 0; i < Model.Limit.LimitValues.Count; i++)
                        {
                            string idName = Model.Limit.Name + $"_{i}";
                            <li class="list-group-item" id="@idName">@Model.Limit.LimitValues.ElementAt(i)</li>
                        }
                    }

                </ul>
            </div>

        </div>*@


</div>
