@model ICollection<Car>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />





<br />

<div class="container">
    <div class="col-lg-12">
        <partial name="_ListOfCars" model="@Model" />
    </div>

</div>

<br />
