
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

Provide sufficient contrast against white background
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1bc22c;
    border-color: #1861ac;
}

.btn-cacat{
    color:red;
}

.navbar {
    width: 100%;
    overflow: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

Sticky footer styles
--------------------------------------------------
html {
    font-size: 22px;
}

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

Sticky footer styles
--------------------------------------------------
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container-fluid {
    width: 100% !important;
}

.centerAccessBlocked {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html,
body {
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    /* equal to footer height */
}

header {
    background: #ccc;
}


body, .sticky-footer-wrapper {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}
