
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="row">
    <div class="col-lg-5 offset-1">
        <div class="card text-white bg-info">
            <div class="card-header">Here you can find your policy templates</div>
            <div class="card-body">
                <p class="card-text">You currenyly have : 0 policies</p>
            </div>
        </div>

    </div>
    <div style="border-left:2px solid #000;height:800px"></div>
    <div class="col-lg-5">
        <div class="card text-white bg-info">
            <div class="card-header">Here you can create a policy template</div>
            <div class="card-body">
             <a class="btn btn-primary" asp-area="Broker" asp-controller="Policy" asp-action="Create">Create</a>
               
            </div>
        </div>

    </div>

</div>
